<div class="container">

<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sectionA">All Speakers</a></li>
        <li><a data-toggle="tab" href="#sectionB">All Messages</a></li>

</ul>
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
            <h3>Speakers</h3>
              <% @speakers.each do |speaker| %>
              <div class="col-md-4">
                <div class="speaker">
              <h4 class="speaker-name"><%= link_to speaker.fullname, speaker_path(speaker) %> </h4>
              <h5 ><%= speaker.speaker_bio.truncate(150) %> </h5>



              <span class="badge"><%= speaker.listeners_speakers.count %>&nbsp;Subscribers</span>

              <span class="badge"><%= speaker.messages.count %>&nbsp;Messages</span>
              <span class="label label-info"><%= speaker.organization %></span>
                </div>
            </div>

            <% end %>



        </div>
        <div id="sectionB" class="tab-pane fade">
            <hr/>
<p><%= render partial: "messages/index" %></p>
        </div>


    </div>
</div>

