<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= t('mailer.hi') %> <%= @listener.name %>, </h3>
    <p><h3><%= t('mailer.you_received_message') %> <%= @messagepart.message.speaker.organization %></p></h3><br/>
    <!-- <p><%= @messagepart.message.speaker.fullname %> has sent a message part to you.</p><br/> -->
    <h3 style="color: #000;"><%= t('mailer.message_part_title') %>  <hr /><%= @messagepart.contentparttitle %></h3>
    <p ><%= raw @messagepart.contentpart %></p><br />
    <hr/>
    You received this message from <%= @message.speaker.organization %>, located at <%= @message.speaker.address %> <%= @message.speaker.city %> <%= @message.speaker.state %> <%= @message.speaker.zipcode %>. To unsubscribe, please click <%= link_to "here", @listener %>.
  </body>

  <!-- <body>
    <h3>Hi <%= @listener.name %>, </h3>
    <p><%= @messagepart.message.speaker.name %> has sent a message part for you.</p><br/>
    <h3 style="color: #000;">Message Part title: <strong style="font-size: 14px; color: #444;"><%= @messagepart.contentparttitle %></strong></h3><hr />
    <p style="font-size: 12px;"><%= @messagepart.contentpart %></p><br />
  </body> -->

</html>
