<%= render 'shared/page_title', title: "Category for : " + @category.name %>

<%= will_paginate @messages %>

<% @category.messages.each do |message| %>

  <div class="col-md-4">
    <div class="message">
      <h2 class="message-title"> <%= message.title %> </h2>
      <%= link_to "View Message", message_path(message), class: "btn btn-default" %>
      <p><%= render message.categories %></p>
    </div>

  </div>

<% end %>
<%= will_paginate @messages %>
